
.vs/TicTac/v15/.suo
.vs/TicTac/v15/Server/sqlite3/storage.ide-shm
.vs/TicTac/v15/Server/sqlite3/storage.ide-wal
bin/Release/TicTacToe.exe
bin/Release/TicTacToe.exe.config
bin/Release/TicTacToe.pdb
obj/Debug/build.force
obj/Release/TicTac.csproj.FileListAbsolute.txt
obj/Release/TicTacToe.exe
obj/Release/TicTacToe.pdb
packages/System.Buffers.4.5.1/.signature.p7s
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
packages/System.Buffers.4.5.1/LICENSE.TXT
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
packages/System.Buffers.4.5.1/version.txt
packages/System.Collections.Immutable.6.0.0/.signature.p7s
packages/System.Collections.Immutable.6.0.0/buildTransitive/netcoreapp2.0/System.Collections.Immutable.targets
packages/System.Collections.Immutable.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/System.Collections.Immutable.6.0.0/Icon.png
packages/System.Collections.Immutable.6.0.0/lib/net461/System.Collections.Immutable.dll
packages/System.Collections.Immutable.6.0.0/lib/net461/System.Collections.Immutable.xml
packages/System.Collections.Immutable.6.0.0/lib/net6.0/System.Collections.Immutable.dll
packages/System.Collections.Immutable.6.0.0/lib/net6.0/System.Collections.Immutable.xml
packages/System.Collections.Immutable.6.0.0/lib/netstandard2.0/System.Collections.Immutable.dll
packages/System.Collections.Immutable.6.0.0/lib/netstandard2.0/System.Collections.Immutable.xml
packages/System.Collections.Immutable.6.0.0/LICENSE.TXT
packages/System.Collections.Immutable.6.0.0/System.Collections.Immutable.6.0.0.nupkg
packages/System.Collections.Immutable.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Collections.Immutable.6.0.0/useSharedDesignerContext.txt
packages/System.Memory.4.5.5/.signature.p7s
packages/System.Memory.4.5.5/lib/net461/System.Memory.dll
packages/System.Memory.4.5.5/lib/net461/System.Memory.xml
packages/System.Memory.4.5.5/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.5/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.5/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.5/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.5/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.5/LICENSE.TXT
packages/System.Memory.4.5.5/ref/netcoreapp2.1/_._
packages/System.Memory.4.5.5/System.Memory.4.5.5.nupkg
packages/System.Memory.4.5.5/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.5/useSharedDesignerContext.txt
packages/System.Memory.4.5.5/version.txt
packages/System.Numerics.Vectors.4.5.0/.signature.p7s
packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.5.0/version.txt
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.targets
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/Icon.png
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/net6.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/System.Runtime.CompilerServices.Unsafe.6.0.0.nupkg
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.6.0.0/useSharedDesignerContext.txt
.vs/TicTac/v15/Server/sqlite3/storage.ide-shm
.vs/TicTac/v15/Server/sqlite3/storage.ide-wal
obj/Release/TicTac.csproj.FileListAbsolute.txt
